@font-face {
    font-family: "IRANSansX";
    src: url("../fonts/IRANSansWeb.eot") format("eot"),
    url("../fonts/IRANSansXFaNum-Regular.woff"),
    url("../fonts/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSansWeb.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.Mui-selected{
    background-color: #b64936 !important;
}